@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'bower_components/pikaday/scss/pikaday';
@import 'bower_components/clockpicker/dist/jquery-clockpicker.min';

$hover-bg: #f6f9fc;

.frost-time-picker {
  position: relative;
  width: 85px;
  height: 35px;
  .frost-text-input {
    padding: 0 8px 0 8px;
    text-align: center;
    cursor: pointer;
  }
}
.frost-date-picker {
  position: relative;
  width: 175px;
  height: 35px;
  .frost-date-container {
    position: absolute;
  }

  .calendar {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 15px;
    transform: translateY(50%);
    transition: opacity .2s ease;
    cursor: pointer;
    opacity: .8;
    fill: $frost-color-grey-6;
    pointer-events: none;
  }

  .frost-text-input {
    color: $frost-color-grey-6;

    &:read-only {
      border: 1px solid $frost-color-lgrey-2;

      &:focus {
        border: 1px solid $frost-color-blue-1;
      }
    }
  }
}

.pika-single {
  &.frost-theme {
    .is-selected {
      .pika-day {
        border-radius: 2px;
        background: $frost-color-blue-1;
      }
    }

    .pika-day {
      background: initial;
      text-align: center;

      &:hover {
        background: $hover-bg;
        color: $frost-color-grey-1;
      }
    }
  }
}
