@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'bower_components/pikaday/scss/pikaday';
.frost-date-picker {
  .frost-date-container {
    position: absolute;
  }
  .calendar {
    cursor: pointer;
    display: inline-block;
    fill: #BABCBE;
    height: 20px;
    opacity: 0.8;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
    width: 20px;
  }
  .frost-text-input {
    color: $frost-color-grey-6;
    &:read-only {
      border: 1px solid #CDCDCD;
      &:focus {
        border: 1px solid #009EEF;
      }
    }
  }
}
.pika-single {
  &.frost-theme {
    .is-selected {
      .pika-day {
        background: $frost-color-blue-1;
        border-radius: 2px;
      }
    }
    .pika-day {
      background: initial;
      text-align: center;

      &:hover {
        background: #f6f9fc;
        color: $frost-color-grey-1;
      }
    }
  }
}
