@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'node_modules/ember-frost-core/addon/styles/frost-app';

.dummy-body {
  margin-left: 20px;
  .row {
   display: flex;
   flex-direction: row;
   .column {

   }
   .item {
     width: 100%;
   }
  }
  .hljs {
    background: #21252E;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0.9em;
    color: #98A0B0;
    // font-size: 0.85em;
    max-height: 50vh;
    overflow: scroll;
    width: 90%;
    .hljs-keyword {
      color: #B959D8;
    }
    .hljs-built_in {
      color: #DFB563;
    }
    .hljs-string {
      color: #86BB62;
    }
    .hljs-number, .hljs-subst {
      color: #C7894F;
    }
    .hljs-tag {
      color: inherit;
      .hljs-name {
        color: #D95360;
      }
      .hljs-attr {
        color: #C7894F;
      }
    }
  }
}
