<h2>datetime</h2>
<div class='row'>
  <div class='item'>
    <h3>Controller</h3>
    {{code-snippet name="date_time_controller.js"}}
  </div>
  <div class='item column'>
    <div class='item'>
      <h3>Template</h3>
      {{code-snippet name="date_time_template.hbs"}}
    </div>
    <div class='item'>
      {{! BEGIN-SNIPPET date_time_template }}

      <div class='item'>
        <h3>Current Value</h3>
        {{myValue}}
      </div>

      <div class='row'>
        <div class='item'>
          <h3>Component</h3>

          {{frost-date-time-picker
            hook='myPicker'
            onSelect=(action 'onSelect')
            onError=(action 'onError')
            currentValue=myValue
            dateValidator=(action 'myCustomDateValidator')
            timeValidator=(action 'myCustomTimeValidator')
            dateFormat='YYYY-MM-DD'
            timeFormat='HH:mm:ss'
          }}
        </div>
      </div>
      {{! END-SNIPPET }}

    </div>
  </div>
</div>
