{{frost-text
  autofocus=autofocus
  disabled=disabled
  form=form
  hook=hook
  isHookEmbedded=true
  maxlength=maxlength
  placeholder=placeholder
  readonly=readonly
  required=required
  selectionDirection=selectionDirection
  tabindex=tabindex
  title=title
  type=type
  value=(readonly _value)

  onClick=_eventProxy.click
  onContextMenu=_eventProxy.contextMenu
  onDoubleClick=_eventProxy.doubleClick
  onDrag=_eventProxy.drag
  onDragEnd=_eventProxy.dragEnd
  onDragEnter=_eventProxy.dragEnter
  onDragLeave=_eventProxy.dragLeave
  onDragOver=_eventProxy.dragOver
  onDragStart=_eventProxy.dragStart
  onDrop=_eventProxy.drop
  onFocusIn=_eventProxy.focusIn
  onFocusOut=_eventProxy.focusOut
  onInput=_eventProxy.input
  onKeyDown=_eventProxy.keyDown
  onKeyPress=_eventProxy.keyPress
  onKeyUp=_eventProxy.keyUp
  onMouseDown=_eventProxy.mouseDown
  onMouseEnter=_eventProxy.mouseEnter
  onMouseLeave=_eventProxy.mouseLeave
  onMouseMove=_eventProxy.mouseMove
  onMouseUp=_eventProxy.mouseUp
  onSubmit=_eventProxy.submit
  onTouchCancel=_eventProxy.touchCancel
  onTouchEnd=_eventProxy.touchEnd
  onTouchMove=_eventProxy.touchMove
  onTouchStart=_eventProxy.touchStart

  onEnter=_eventProxy.enter
  onEscape=_eventProxy.escape-press
}}
{{#if isIconVisible}}
  {{! Using a div as a click target to workaround https://github.com/emberjs/ember.js/issues/13420 }}
  <div class='{{css}}-calendar' data-test={{hook (concat hook '-calendar')}}>
    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 4 L6 4 L6 2 A2 2 0 0 1 10 2 L10 4 L22 4 L22 2 A2 2 0 0 1 26 2 L26 4 L30 4 L30 10 L2 10 M2 12 L30 12 L30 30 L2 30"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </div>
{{/if}}
